html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
body {
  background-color: #f8f7f6;
  all: unset;
  margin: auto;
}

.container {
  display: flex;
}

.centered {
  justify-content: center;
}
.wrap {
  flex-wrap: wrap;
}
.spaced {
  justify-content: center;
  gap: 25px 10px;
}

header {
  flex-direction: column;
  height: 100vh;
  align-items: center;
  background-color: #005d6a;
  background-image: url(images/idea_idt.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  resize: both;
}

#HeadBox {
  flex-direction: column;
  align-items: center;
}
h1 {
  color: #f8f7f6;
  text-shadow: 1px 1px 2px #263034, 0 0 1em #005d6a, 0 0 0.2em #005d6a;
  font-size: 6em;
}
h2 {
  color: #f8f7f6;
  text-shadow: 1px 1px 2px #263034, 0 0 1em #005d6a, 0 0 0.2em #005d6a;
  margin-bottom: 135px;
}

button {
  background-color: #5eafba;
  color: #f8f7f6;
  border: #5eafba;
  border-radius: 7px;
  padding: 5px 10px;
  height: 50px;
  width: 150px;
  font-weight: bolder;
}

button:hover {
  background-color: #005d6a;
}

#smallLogo {
  max-width: 90px;
  max-height: 25px;
  margin: 0 10px;
}
nav {
  background-color: #f8f7f6;
  position: fixed;
  height: 50px;
  top: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
#navbarWide {
  display: flex;
}
nav a {
  color: #263034;
  text-decoration: none;
  font-size: 0.8em;
  padding: 15px;
  margin-left: 5px;
}

nav a:hover {
  background-color: #005e6a96;
  color: #f8f7f6;
  border-radius: 5px;
  transition-duration: 0.45s;
  transition-timing-function: ease-in-out;
}
#burger {
  display: none;
  flex-direction: column;
}
.burgerline {
  width: 35px;
  max-width: 35px;
  height: 5px;
  max-height: 15px;
  background-color: #5eafba;
  margin: 3px 0;
}
.nav-links {
  display: none;
}

main {
  justify-items: center;
}
h3 {
  margin: 50px 0 20px 0;
  font-size: 1.8em;
  color: #263034;
}

h4 {
  color: #263034;
}

.detail {
  color: #005d6a;
  font-size: 0.7em;
}

.card {
  height: 200px;
  display: inline-block;
  flex-direction: column;
  padding: 25px;
  margin: 10px;
  width: 250px;
}
.card:hover {
  font-size: large;
}
#valeur {
  margin-bottom: 30px;
}
.valeurdetail:hover {
  font-size: 1.2em;
  border-radius: 5%;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  box-shadow: 0px 0px 10px 1px #4c6a6c;
}

.IconClass {
  width: 100%;
  max-width: 60px;
  height: 60px;
  display: block;
  margin: auto;
}

.FormContact {
  justify-content: space-around;
  height: 100vh;
  align-items: flex-start;
  text-align: left;
  justify-items: center;
  padding: 10%;
  background-color: #005d6a;
  background-image: url(images/contactimg2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(0.2);
  resize: both;
  color: #f8f7f6;
  text-shadow: #263034 1px 1px 2px, 0 0 1em #263034, 0 0 0.2em #263034;
}
#contact {
  display: flex;
  justify-content: top;
  align-items: left;
  flex-direction: column;
  margin-top: 55px;
  padding: 15px;
}
h5 {
  margin-bottom: -15px;
  color: #f8f7f6;
  background-color: #5eafba;
  height: 40px;
  text-align: center;
  padding-top: 15px;
  text-shadow: none;
  font-size: 1em;
  z-index: 2;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56),
    0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  width: 300px;
  padding-top: 17px;
}
#formBox {
  padding: 100px 20px 20px 20px;
  background-color: #f8f7f6;
  border-radius: 10px;
  width: 400px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.FormField {
  flex-grow: 2;
  margin: 10px;
  width: 300px;
  border: none;
  border-bottom: #263034 1px solid;
}
.FormField:focus {
  outline: none;
  border-bottom: #005d6a 2px solid;
  background-color: #5eafba10;
}
#BtnEnvoyer {
  background-color: #5eafba;
  width: 200px;
  color: #f8f7f6;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1em;
  font-weight: bolder;
}
.AffichageVariable {
  max-width: 1400px; /*limite a 4 elements par ligne*/
}
@media (prefers-color-scheme: dark) {
  .burgerline.adaptative {
    background-color: #f8f7f6;
  }
}
@media screen and (max-width: 800px) {
  .AffichageVariable {
    justify-content: space-around;
  }

  .FormContact {
    /* flex-direction: column; */
    flex-direction: row-reverse;
  }
  nav a {
    padding: 3px;
  }
}

@media screen and (max-width: 600px) {
  .AffichageVariable {
    flex-direction: column;
  }
  .FormContact {
    padding: 4%;
  }
  #formBox {
    max-width: 200px;
  }
  .FormField {
    flex-grow: 0;
    width: auto;
  }
  h5 {
    width: 200px;
  }
  h1 {
    font-size: 1.8em;
  }
  h2 {
    font-size: 1.02em;
    margin-bottom: 100px;
  }
  .card {
    width: 250px;
  }
  #navbarWide {
    display: none;
  }
  #burger {
    display: flex;
  }
  #burger.show {
    display: none;
  }
  #navbar.show {
    height: 80px;
  }
  .nav-links {
    display: none;
  }

  .nav-links.show {
    display: flex;
    flex-direction: column;
    position: static;
    top: 0px;
    left: 0;
    width: 250px;
    padding: 10px;
    color: #263034;
  }
}
